In [1]:
import os                # Import the os module for interacting with the operating system
import pandas as pd      # Import the pandas library for data manipulation and analysis

In [2]:
# Get the directory path of the current script
base_path = os.path.dirname(os.path.abspath('__file__'))

# Read the CSV file 'attendance.csv' into a DataFrame
df = pd.read_csv(os.path.join(base_path, 'attendance.csv'))

In [3]:
# Display the first few rows of the DataFrame
df.head()

   student        date  present
0  abilash  2020-01-01        1
1  abilash  2020-01-02        0
2  abilash  2020-01-03        1
3  abilash  2020-01-04        1
4  abilash  2020-01-05        0

In [4]:
# Convert the 'date' column to datetime format
df['date'] = pd.to_datetime(df['date'])

In [5]:
# Create a Series of unique dates from the 'date' column
pd.Series(df.date.unique())

0   2020-01-01
1   2020-01-02
2   2020-01-03
3   2020-01-04
4   2020-01-05
5   2020-01-06
6   2020-01-07
7   2020-01-08
8   2020-01-09
9   2020-01-10
dtype: datetime64[ns]

In [8]:
# Group the data by 'student' and sum the 'present' column for each student
df.groupby('student').present.sum().sort_values(ascending=False)

student
priti      9
arya       8
abilash    6
sweksha    6
nikhil     4
Name: present, dtype: int64